body  {
  background-color: #331d76;
  color: #dcd4f1;
  background-image: url(/src/assets/img/bg-white-lighter.png);
  background-blend-mode: multiply;
}
/* rgb(37, 30, 21) */
/* #f1e1d4 */

.token {
  color: #f1e1d4;

}

span.token {
  position: relative;
}

span.token.selected {
  background-color: #FA6526;
}

span.token.hovering::before {
  content: "";
  position: absolute;
  background-color: #fa662675; /* Updated color without alpha */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the pseudo-element is behind the content */
  pointer-events: none;
}

span.token.hovering::after {
  pointer-events: none;
  content: ""; /* Create an empty content */
  display: inline-block; /* Make it a block element */
  height: 8px; /* Set the height of the underline */
  width: 100%; /* Make the underline span the full width of the parent */
  background-color: #FA6526; /* Set the color of the underline */
  position: absolute; /* Change from relative to absolute */
  bottom: 0; /* Position the underline at the bottom of the span */
  left: 0; /* Align the underline with the left edge of the span */
  z-index: -1; /* Ensure the underline appears behind the span */
}

.combine-target {
  background-color: #b83d08;
}

::selection {
  background-color: #d54000;
}
